@{
ViewData["Title"] = "Details";
}

@model Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models.ImageAnalysis

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<h3>@Model.Description.Captions[0].Text</h3>
<div class="row">
  <div class="col-md-6 column">
    <div class="largeartwork">
      <img src="@ViewBag.ImageUrl" />
    </div>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Object/Tag</th>
          <th scope="col">Confidence Value</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var tag in Model.Tags)
        {
          if(tag.Confidence >= 0.75)
          {
            <tr>
              <td>
                @tag.Name
              </td>
              <td>
                @tag.Confidence
              </td>
            </tr>
          }
        }
        @foreach(var obj in Model.Objects)
        {
          if(obj.Confidence >= 0.75)
          {
            <tr>
              <td>
                @obj.ObjectProperty
              </td>
              <td>
                @obj.Confidence
              </td>
            </tr>
          }
        }
        @foreach(var catergory in Model.Categories)
        {
          @if(catergory.Detail?.Celebrities != null)
          {
            @foreach (var celeb in catergory.Detail.Celebrities)
            {
              if(celeb.Confidence >=0.75)
              {
              <tr>
                <td>
                  @celeb.Name
                </td>
                <td>
                  @celeb.Confidence
                </td>
              </tr>
              }
            }
          }
        }
        @foreach(var category in Model.Categories)
        {
          @if(category.Detail?.Landmarks != null)
          {
            @foreach (var landmark in category.Detail.Landmarks)
            {
              if(landmark.Confidence >=0.75)
              {
              <tr>
                <td>
                  @landmark.Name
                </td>
                <td>
                  @landmark.Confidence
                </td>
              </tr>
              }
            }
          }
        }       
        </tbody>
    </table>
  </div>  
</div>

