@{
ViewData["Title"] = "Details";
}

@model Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models.ImageAnalysis

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}

function toggleTranslations()
{
  var translatedDescription = document.getElementById("translatedDescription");
  var baseTable = document.getElementById("baseTable");
  var translatedTable = document.getElementById("translatedTable");

  if (translatedDescription.style.display === "none"){
    translatedDescription.style.display = "block";
    baseTable.style.display = "none";
    translatedTable.style.display = "block";
  } else {
    translatedDescription.style.display = "none";
    baseTable.style.display = "block";
    translatedTable.style.display = "none";
  }
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<br>
<div class = "container">
  <h1 class="display-4 notranslate">Description:</h1>
  <hr>
  <h3 class="notranslate">@Model.Description.Captions[0].Text</h3> 
  <h3 id="translatedDescription">@Model.Description.Captions[0].Text</h3>
  <br>
  <h5>Select a language to translate to:</h5>
  <div id="google_translate_element"></div>
  <button onclick="toggleTranslations()" type="button" class="btn btn-warning notranslate">Translate</button>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 column">
      <div class="largeartwork">
        <img src="@ViewBag.ImageUrl" />
      </div>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

      <table id="baseTable" class="table table-bordered table-striped mb-0">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="notranslate">Object</th>
            <th scope="col" class="notranslate">AI Confidence</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var catergory in Model.Categories)
          {
            @if(catergory.Detail?.Celebrities != null)
            {
              @foreach (var celeb in catergory.Detail.Celebrities)
              {
                if(celeb.Confidence >=0.75)
                {
                <tr>
                  <td>
                    <div class="notranslate">@celeb.Name</div>
                  </td>
                  <td>
                    @((celeb.Confidence*100).ToString("0.00"))%
                  </td>
                </tr>
                }
              }
            }
          }
          @foreach(var category in Model.Categories)
          {
            @if(category.Detail?.Landmarks != null)
            {
              @foreach (var landmark in category.Detail.Landmarks)
              {
                if(landmark.Confidence >=0.75)
                {
                <tr>
                  <td>
                    <div class="notranslate">@landmark.Name</div>
                  </td>
                  <td>
                    @((landmark.Confidence*100).ToString("0.00"))%
                  </td>
                </tr>
                }
              }
            }
          } 
          @foreach(var tag in Model.Tags)
          {
            if(tag.Confidence >= 0.75)
            {
              <tr>
                <td>
                  <div class="notranslate">@tag.Name</div>
                </td>
                <td>
                  @((tag.Confidence*100).ToString("0.00"))%
                </td>
              </tr>
            }
          }
          @foreach(var obj in Model.Objects)
          {
            if(obj.Confidence >= 0.75)
            {
              <tr>
                <td>
                  <div class="notranslate">@obj.ObjectProperty</div>
                </td>
                <td>
                  @((obj.Confidence*100).ToString("0.00"))%
                </td>
              </tr>
            }
          }      
          </tbody>
      </table>
      <table id="translatedTable" class="table table-bordered table-striped mb-0">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="notranslate">English</th>
            <th scope="col" class="notranslate">Object/Tag</th>
            <th scope="col" class="notranslate">AI Confidence</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var catergory in Model.Categories)
          {
            @if(catergory.Detail?.Celebrities != null)
            {
              @foreach (var celeb in catergory.Detail.Celebrities)
              {
                if(celeb.Confidence >=0.75)
                {
                <tr>
                  <td>
                    <div class="notranslate">@celeb.Name</div>
                  </td>
                  <td>
                    @celeb.Name
                  </td>
                  <td>
                    @((celeb.Confidence*100).ToString("0.00"))%
                  </td>
                </tr>
                }
              }
            }
          }
          @foreach(var category in Model.Categories)
          {
            @if(category.Detail?.Landmarks != null)
            {
              @foreach (var landmark in category.Detail.Landmarks)
              {
                if(landmark.Confidence >=0.75)
                {
                <tr>
                  <td>
                    <div class="notranslate">@landmark.Name</div>
                  </td>
                  <td>
                    @landmark.Name
                  </td>
                  <td>
                    @((landmark.Confidence*100).ToString("0.00"))%
                  </td>
                </tr>
                }
              }
            }
          } 
          @foreach(var tag in Model.Tags)
          {
            if(tag.Confidence >= 0.75)
            {
              <tr>
                <td>
                  <div class="notranslate">@tag.Name</div>
                </td>
                <td>
                  @tag.Name
                </td>
                <td>
                  @((tag.Confidence*100).ToString("0.00"))%
                </td>
              </tr>
            }
          }
          @foreach(var obj in Model.Objects)
          {
            if(obj.Confidence >= 0.75)
            {
              <tr>
                <td>
                  <div class="notranslate">@obj.ObjectProperty</div>
                </td>
                <td>
                  @obj.ObjectProperty
                </td>
                <td>
                  @((obj.Confidence*100).ToString("0.00"))%
                </td>
              </tr>
            }
          }      
        </tbody>
      </table>
    </div>  
  </div>
</div>
<br>
<hr>
@using (Html.BeginForm("Details", "Home"))
{
  <div class="container">
    <div class="row">
      <div class="col-md-6 column">
        <h3 class="notranslate">ENTER URL: </h3>
        <h6 class="notranslate">(URLs ending in .jpg .png .bmp ONLY)</h6>
        @Html.TextBox("imageUrl", null, new { @class="form-control"})
      </div>
      <div class="col-md-6 column">
        <br>
        <br>
        <br>
        <input type = "submit" value = "Submit Image" class = "btn btn-warning notranslate"/>
      </div>
    </div>
  </div>      
}   