@{
ViewData["Title"] = "Details";
}

@model Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models.ImageAnalysis

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}

function toggleTranslations()
{
  var translatedDescription = document.getElementById("translatedDescription");
  var baseTable = document.getElementById("baseTable");
  var translatedTable = document.getElementById("translatedTable");

  if (translatedDescription.style.display === "none"){
    translatedDescription.style.display = "block";
    baseTable.style.display = "none";
    translatedTable.style.display = "block";
  } else {
    translatedDescription.style.display = "none";
    baseTable.style.display = "block";
    translatedTable.style.display = "none";
  }
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
<br>
  <div class = "container">
  <h1 class="display-4">Description:</h1>
  <hr>
  <h3 class="notranslate">@Model.Description.Captions[0].Text</h3> 
  <h3 id="translatedDescription">@Model.Description.Captions[0].Text</h3>
  <br>
  <h5>Select a language to translate to:</h5>
  <div id="google_translate_element"></div>
  <button onclick="toggleTranslations()" type="button" class="btn btn-warning notranslate">Translate</button>
</script>
  <div class="row">
    <div class="col-md-8 column">
      <div class="largeartwork">
        <img src="@ViewBag.ImageUrl" />
      </div>
    </div>
    <div class="col-md-4 column">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table id="baseTable" class="table table-bordered table-striped mb-0">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="notranslate">Object</th>
              <th scope="col" class="notranslate">AI Confidence</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var catergory in Model.Categories)
            {
              @if(catergory.Detail?.Celebrities != null)
              {
                @foreach (var celeb in catergory.Detail.Celebrities)
                {
                  if(celeb.Confidence >=0.75)
                  {
                  <tr>
                    <td>
                      <div class="notranslate">@celeb.Name</div>
                    </td>
                    <td>
                      @(Math.Round((double)celeb.Confidence, 3) * 100)%
                    </td>
                  </tr>
                  }
                }
              }
            }
            @foreach(var category in Model.Categories)
            {
              @if(category.Detail?.Landmarks != null)
              {
                @foreach (var landmark in category.Detail.Landmarks)
                {
                  if(landmark.Confidence >=0.75)
                  {
                  <tr>
                    <td>
                      <div class="notranslate">@landmark.Name</div>
                    </td>
                    <td>
                      @(Math.Round((double)landmark.Confidence, 3) * 100)%
                    </td>
                  </tr>
                  }
                }
              }
            } 
            @foreach(var tag in Model.Tags)
            {
              if(tag.Confidence >= 0.75)
              {
                <tr>
                  <td>
                    <div class="notranslate">@tag.Name</div>
                  </td>
                  <td>
                    @(Math.Round((double)tag.Confidence, 3) * 100)%
                  </td>
                </tr>
              }
            }
            @foreach(var obj in Model.Objects)
            {
              if(obj.Confidence >= 0.75)
              {
                <tr>
                  <td>
                    <div class="notranslate">@obj.ObjectProperty</div>
                  </td>
                  <td>
                    @(Math.Round((double)obj.Confidence, 3) * 100)%
                  </td>
                </tr>
              }
            }      
            </tbody>
        </table>
        <table id="translatedTable" class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col" class="notranslate">English</th>
              <th scope="col" class="notranslate">Object/Tag</th>
              <th scope="col" class="notranslate">AI Confidence</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var catergory in Model.Categories)
            {
              @if(catergory.Detail?.Celebrities != null)
              {
                @foreach (var celeb in catergory.Detail.Celebrities)
                {
                  if(celeb.Confidence >=0.75)
                  {
                  <tr>
                    <td>
                      <div class="notranslate">@celeb.Name</div>
                    </td>
                    <td>
                      @celeb.Name
                    </td>
                    <td>
                      @(Math.Round((double)celeb.Confidence, 3) * 100)%
                    </td>
                  </tr>
                  }
                }
              }
            }
            @foreach(var category in Model.Categories)
            {
              @if(category.Detail?.Landmarks != null)
              {
                @foreach (var landmark in category.Detail.Landmarks)
                {
                  if(landmark.Confidence >=0.75)
                  {
                  <tr>
                    <td>
                      <div class="notranslate">@landmark.Name</div>
                    </td>
                    <td>
                      @landmark.Name
                    </td>
                    <td>
                      @(Math.Round((double)landmark.Confidence, 3) * 100)%
                    </td>
                  </tr>
                  }
                }
              }
            } 
            @foreach(var tag in Model.Tags)
            {
              if(tag.Confidence >= 0.75)
              {
                <tr>
                  <td>
                    <div class="notranslate">@tag.Name</div>
                  </td>
                  <td>
                    @tag.Name
                  </td>
                  <td>
                    @(Math.Round((double)tag.Confidence, 3) * 100)%
                  </td>
                </tr>
              }
            }
            @foreach(var obj in Model.Objects)
            {
              if(obj.Confidence >= 0.75)
              {
                <tr>
                  <td>
                    <div class="notranslate">@obj.ObjectProperty</div>
                  </td>
                  <td>
                    @obj.ObjectProperty
                  </td>
                  <td>
                    @(Math.Round((double)obj.Confidence, 3) * 100)%
                  </td>
                </tr>
              }
            }      
          </tbody>
        </table>
      </div>  
    </div>
  </div>   
</div>